body{
    background-color: bisque;
}

#contenedor_1{
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
}

.movimiento{
    transition: all 0.7s ease;
}
.cuadrado{
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    border: 2px solid black;
    
}

#btn_cambio{

    height: 30px;
    width: 100px;
    background-color: aqua;
    border-radius: 20px;
    margin: 20px;

}